<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>

<a th:href="@{/logout}">Logout</a>

<form th:method="POST" th:action="@{/admin}" th:object="${user}">
    <label for="username">Enter username</label>
    <input type="text" th:field="*{username}" id="username">
    <br/>

    <label for="password">Enter password</label>
    <input type="text" th:field="*{password}" id="password">
    <br/>

    <label for="surname">Enter surname name</label>
    <input type="text" th:field="*{surname}" id="surname">
    <br/>

    <label for="salary">Enter salary</label>
    <input type="text" th:field="*{salary}" id="salary">
    <br/>

    <label for="roles">Enter roles (1 - user, 2 - admin)</label>
    <input type="text" th:field="*{roles}" id="roles">
    <br/>

    <input type="submit" value="Create!"/>
</form>

</body>
</html>